<a href="https://funding.communitybridge.org/projects/kicad" class="ribbon" data-toggle="modal" data-target="#funddrive-modal" data-remote="false" style="text-decoration:none;">
  <div class="medallion"></div>

  <div class="ribbon-1">
    <span class="inner">
		<span class="fadeLeft">2021</span>
    </span>
  </div>

  <div class="ribbon-2">
    <span class="inner">
        <span class="fadeRight">
                Fund Drive
        </span>
    </span>
  </div>

  <div class="ribbon-3">
    <span class="inner">
		<span class="fadeLeft">Donate now and KiCad Services Corp<br/> Will Match Your Donation</span>
    </span>
  </div>

  <div class="ball fadeIn">
    <span class="ball-text">
        <strong>$10,000</strong> 
        Total
    </span>
  </div>
</a>