<h5>2021 Activity</h5>
<p>
    Your donations helped make 2021 successful!<br>
    <a href="https://www.kicad.org/img/donations/2021_flyer.pdf" target="_blank">See what your donation helped us to do in 2021.</a>
</p>
<h5>Matching Donations</h5>
<p>
    Donate before January 15, 2022 to support KiCad EDA development and <a href="https://www.kipro-pcb.com">KiCad Services Corporation</a>
    will match your contribution dollar for dollar.
</p>

{{ partial "donate.html" . }}
