<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <!--webp detection script for compatibility-->
    <script>!function(e){"use strict";function s(s){if(s){var t=e.documentElement;t.classList?t.classList.add("webp"):t.className+=" webp",window.sessionStorage.setItem("webpSupport",!0)}}!function(e){if(window.sessionStorage&&window.sessionStorage.getItem("webpSupport"))s(!0);else{var t=new Image;t.onload=t.onerror=function(){e(2===t.height)},t.src="data:image/webp;base64,UklGRi4AAABXRUJQVlA4TCEAAAAvAUAAEB8wAiMwAgSSNtse/cXjxyCCmrYNWPwmHRH9jwMA"}}(s)}(document);
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ $titleScratch := $.Scratch.Get "title" }}
    <title>{{if .IsHome }}{{ .Site.Params.HomeTitle }}{{ else }}{{ if $titleScratch }}{{ $titleScratch }}{{ else }}{{ replace .Title "-" " " }}{{ end }}{{if ne .Site.Title .Title }} | {{ .Site.Title }}{{ end }}{{ end }}</title>

    <link href="/blog/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{ $description := $.Scratch.Get "description" }}
    {{ if $description }}
    <meta name="description" content="{{- $description | plainify -}}">
    {{ else if (or ( .IsHome ) ( and (not .Description) (not .Summary) )) }}
    <meta name="description" content="{{- .Site.Params.HeaderDescription -}}">
    {{ else if .Description }}
    <meta name="description" content="{{- .Description | plainify -}}">
    {{ else if .IsPage }}
    <meta name="description" content="{{- .Summary | plainify -}}">
    {{ end }}

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-title" content="KiCad Website">
    <meta name="application-name" content="KiCad Website">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- youtube channel verification -->
    <meta name="google-site-verification" content="vRQHg4jXocsgn500MPK-VlG6XFw9YjJvEhRJDUStiyk" />
	<meta name="google-site-verification" content="2XG45MyvE5MKPPqmV07-vOx0Vy5u0LybDRU3vxNzm_E" />
    

    <!-- Main CSS -->
    {{ $style := resources.Get "css/kicad-bootstrap.css" | minify | fingerprint }}
    <link href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" rel="stylesheet">

    {{ $style := resources.Get "css/kicad-website.css" | minify | fingerprint }}
    <link href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" rel="stylesheet">


    <!-- OpenSans from Google -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet" crossorigin="anonymous">
    
    <!-- Font Awesome -->
    {{ $style := resources.Get "/fontawesome/css/all.min.css" | fingerprint }}
    <link href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" rel="stylesheet" type="text/css">


    {{ if $.Scratch.Get "additional_head_tags" }}{{ $.Scratch.Get "additional_head_tags" | safeHTML }}{{ end }}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    {{ "<!--[if lt IE 9]>" | safeHTML }}
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    {{ "<![endif]-->" | safeHTML }}

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/google_news.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ partial "jsonld.html" . }}
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top {{ if .IsHome }}transparent{{ end }}">
            <div class="container-sm">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="/">
                <img src="/img/kicad_logo_small.png" alt="" loading="lazy">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            {{ partial "navbar.html" . }}
        </div>
    </nav>
{{ if not .IsHome }}
    <header class="intro-header page-header-decor">
    </header>
{{end}}
